body {
  margin: 0;
  font-family: Arial;
  background: #f8fafc;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f172a;
  color: white;
  padding: 15px 30px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Hero */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: #1e293b;
  color: white;
}

/* Sections */
section {
  padding: 40px;
  text-align: center;
}

/* Skills */
.skills-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skills-box div {
  background: #0f172a;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
}

/* Contact Preview */
.contact-preview {
  background: #e2e8f0;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Contact Page */
.contact form {
  max-width: 400px;
  margin: auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  width: 100%;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #0f172a;
  color: white;
}