<!DOCTYPE html>
<html>
<head>
  <title>My Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <!-- Navbar -->
  <nav>
    <h2>MyPortfolio</h2>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <!-- Hero -->
  <header class="hero">
    <h1>Hye, I 'm Priya👋</h1>
    <p>BCA Student | Web Developer | Tech Enthusiast</p>
  </header>

  <!-- About Section -->
  <section id="about">
    <h2>About Me</h2>
    <p>
      A BCA student driven by curiosity and passion for technology.
    </p>
    <p>
      I love blending creativity with logic through web development.
    </p>
    <p>
      I am also deeply interested in Artificial Intelligence and its future impact.
    </p>
  </section>

  <!-- Skills Section -->
  <section id="skills">
    <h2>My Skills</h2>
    <div class="skills-box">
      <div>HTML</div>
      <div>CSS</div>
      <div>Java</div>
      <div>Python</div>
    </div>
  </section>

  <!-- Contact Preview -->
  <section class="contact-preview">
    <h2>Get in Touch</h2>
    <p>If you’d like to connect, feel free to reach out.</p>
    <a href="/contact" class="btn">Contact Me</a>
  </section>

  <footer>
    <p>© 2026 PRIYA KUMARI</p>
  </footer>

</body>
</html>
<!-- TEST CHANGE -->